@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    --fondo_claro:#fff;
    --fondo_oscuro:#111111;
    --fondo_oscuroC: #222222;
    --azul_claro: #2997D7;
    --azul_fuerte: #217ACD;
    --shadow-claro:9px 11px 22px 2px #4A4A4A;
    --shadow-dark: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

body{
    background: var(--fondo_claro);
    font-family: 'Lato', sans-serif;
    cursor: default;
    transition: .3s ease all;
}

/* ScrollBar */

body::-webkit-scrollbar {
    width: .5em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: var(--fondo_oscuro);
    outline: 1px solid slategrey;
  }
 /* NavBar */
.navbar{
    width: 100%;
    background: var(--azul_fuerte) !important;
    color: #fff;
    position: fixed;

}

body.dark{
    background: var(--fondo_oscuro);
    transition: .3s ease all;
}

body.dark::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  }

body.dark::-webkit-scrollbar-thumb {
    background-color: var(--azul_claro);
    outline: 1px solid slategrey;
  }


/* Main */

main{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: auto;
}

/* Titulo secciones */
main h2{
    width: 40%;
    height: 60px;
    margin:20px auto;
    text-align:center;
    font-size: 40px;
    font-weight: 900;
    color: var(--azul_fuerte);
    border-bottom: 3px solid var(--azul_fuerte);
}

/* Tema oscuro */

.switch{
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    margin: 25% 0 0 0;
}

.switch::after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
}

.switch.active{
    background: orange;
    color: "000";
}

.switch.active::after{
    right: 0;
    left: unset;
}

.switch span{
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: block;
    background: none;
    color: #fff;
}

/* Header */

.inicio{
    width: 100%;
    max-width: 1600px;
    height: 100vh;
    margin: 0 auto;
    background: linear-gradient(to right, #00f26080, #0575e680),
     url('../img/inicio.jpg') no-repeat;
    background-position: center;
    background-size: 100vw;
    background-attachment: fixed;
    text-align: center;
}

.inicio .texto{
    color: #fff;
    width: 60%;
    height: 60%;
    margin: auto;
}

.inicio .texto p{
    width: 100%;
    height: auto;
    padding: 25% 0 5% 0;
    text-align: center;
    font-size: 60px;
}

.inicio .extra{
    border: 2px solid #fff;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    margin: auto;
    font-size: 25px;
}

.inicio .extra:hover{
    border: none;
    width: 210px;
    height: 60px;
    color: #fff;
    font-size: 30;
    background: var(--azul_claro);
    box-shadow: var(--shadow-claro);
}

/* Servicos */

main .servicios{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
}

/* Servicios Tarjeta */
main .servicios .target-service{
    width: 20%;
    height: 350px;
    background: #fff;
    box-shadow: var(--shadow-claro);
    border-radius: 30px;
    text-align: center;
    transition: .3s;
    /* transform: translate(-96px, -120px) rotate(45deg) */
}

main .servicios .target-service:hover{
    width: 21%;
    height: 360px;
    background: var(--azul_fuerte);
    color: #fff;
    transition: .3s;
    /* transform: translate(-96px, -120px) rotate(45deg) */
    
}

body.dark main .servicios .target-service{
    background: var(--fondo_oscuroC);
    color: #fff;
    box-shadow: var(--shadow-dark);
}

body.dark main .servicios .target-service:hover{
    width: 21%;
    height: 360px;
    background: var(--azul_fuerte);
    color: #fff;
    transition: .3s;
    /* transform: translate(-96px, -120px) rotate(45deg) */
    
}


main .servicios .target-service .imagen{
    width: 90;
    height: 50%;
}

main .servicios .target-service .imagen img{
    width: 70%;
    margin-top: 10px;
}
/* Tarjeta Texto */
main .servicios .target-service .text{
    width: 100%;
    height: 50%;
}

main .servicios .target-service .text h3{
    width: 90%;
    margin: 0 5%;
    font-size: 25px;
    font-weight: 700;
}

main .servicios .target-service .text p{
    width: 90%;
    margin: 10px 5% 0 5%;
    font-size: 18px;
}

/* Tecnologias */
main .tecnologias{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-shrink: 0;
    flex-wrap: wrap;
}

main .tecnologias .card_tecnologias{
    width: 160px;
    height: 160px;
    margin: 40px 10px 30px 10px;
    text-align: center;
    border-radius: 30px;
    box-shadow: var(--shadow-claro);
    transition: .3s;
}

body.dark main .tecnologias .card_tecnologias{
    background: var(--fondo_oscuroC);
    box-shadow: var(--shadow-dark);
    color: #fff;
    transition: .3s;
}

main .tecnologias .card_tecnologias i{
    margin-top: 20px;
    font-size: 90px;
}

main .tecnologias .card_tecnologias p{
    font-size: 25px;
}

main .tecnologias .card_tecnologias:nth-child(1) i{
    color: #f16529;
}

main .tecnologias .card_tecnologias:nth-child(2) i{
    color: #366db9;
}

main .tecnologias .card_tecnologias:nth-child(3) i{
    color: #efd81c;
}

main .tecnologias .card_tecnologias:nth-child(4) i{
    color: #7377ad;
}

main .tecnologias .card_tecnologias:nth-child(5) i{
    color: #e58f00;
}

main .tecnologias .card_tecnologias:nth-child(6) i{
    color:#5cd5ff;
}

main .tecnologias .card_tecnologias:nth-child(7) i{
    color:#7fc728;
}

main .tecnologias .card_tecnologias:hover{
    background: var(--azul_claro);
    color: #fff;
    transition: .3s;
}

body.dark main .tecnologias .card_tecnologias:hover{
    background: var(--azul_claro);
    color: #fff;
    transition: .3s;
}

main .tecnologias .card_tecnologias:hover i{
    margin-top: 20px;
    font-size: 90px;
    color: #fff;
    transition: .3s;
}

/* Proyectos */

main .proyectos{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Card Proyectos */

main .proyectos .card{
    height: 250px;
    width: 400px;
    margin: 25px 25px;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    border: transparent;
    box-shadow: var(--shadow-claro);
    transition: .3s;
}

body.dark main .proyectos .card{
    background: var(--fondo_oscuroC);
    box-shadow: var(--shadow-dark);
}

main .proyectos .card:hover{
    height: 300px;
    width: 400px;
    transition: .3s;
}

main .proyectos .card .card-encabezado{
    height: 250px;
    width: 400px;

}

main .proyectos .card .card-encabezado img{
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    height: 250px;
}

main .proyectos .card .card-icono{
    height: 50px;
    width: 400px;
    display: flex;
    align-items: center;
}

body.dark main .proyectos .card .card-icono .agrandar a{
    color: #fff;
}

main .proyectos .card .card-icono .agrandar{
    width: 200px;
    height: 100%;
    text-align: center;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--azul_claro);
    transition: .3s;
}

main .proyectos .card .card-icono .agrandar:hover{
background: var(--azul_fuerte);
color: #fff;
transition: .3s;
}

main  .proyectos .card .card-icono .agrandar a{
    text-decoration: none;
    color:inherit;
}

main  .proyectos .card .card-icono .agrandar a:hover{
    text-shadow: 4px 4px 16px rgba(255, 255, 255, 0.55);
}

.seccion-btn{
    width: 100%;
    height: 80px;
    text-align: center;
}
.btn-mas{
    width: 200px;
    height: 40px;
    display: 10px auto;
    background: var(--azul_claro);
    border-radius:30px;
    border: none;
    color: #fff;
    font-size: 24px;
}

.btn-mas:hover{
    width: 210px;
    height: 50px;
    font-size: 30px;
    box-shadow: var(--shadow-claro);
}

body.dark .btn-mas:hover{
    box-shadow: var(--shadow-dark);
}